table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #eeeeee;
    white-space: nowrap;
}

table tr:first-child {
    background-color: aliceblue;
}

table td.LogPath {
    max-width: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

table td.ProcessInfo {
    max-width: 400px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.highlight {
    background-color: lightyellow;
}

.changed {
    color: red;
}

.hidden {
    display: none;
}