table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #eeeeee;
    white-space: nowrap;
}

table tr:first-child {
    background-color: aliceblue;
}

table td.LogPath {
    max-width: 300px;
    overflow-x: auto;
}

table td.LogPath::-webkit-scrollbar, table td.ProcessInfo::-webkit-scrollbar {
    display: none;
}

table td.ProcessInfo {
    max-width: 500px;
    overflow-x: auto;
}

.highlight {
    background-color: lightyellow;
}

.changed {
    color: red;
}

.hidden {
    display: none;
}

.preWrap {
    margin-top: 50px;
    margin-bottom: 50px;
}

.wordWrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#fileContent, #configDiv, #locateLogSpan {
    display: none;
}

#preContent .datas {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.tabs {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    background-color: #f1f1f1;
    left: 0;
    right: 0;
}

div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: #ccc;
    font-weight: bold;
}

.tabcontent {
    display: none;
}

.loginput {
    width: 300px;
    height: 20px;
    line-height: 20px;
}

.tinyinput {
    width: 30px;
    height: 20px;
    line-height: 20px;
}

#buttonsDiv {
    position: absolute;
    right: 8px;
    top: 3px;
}

#ConfigBtn span {
    font-size: 12px;
}

.CodeMirror {
    height: auto;
}

#screenShot {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#screenShotTip {
    margin: 100px auto;
    width: 200px;
    color: yellow;
}